body {
    font-family: 'Press Start 2P', cursive; /* Fuente pixelada */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura completa de la ventana */
    display: flex; /* Usar flexbox para centrar */
    flex-direction: column; /* Dirección de los elementos en columna */
    justify-content: center; /* Centrar verticalmente */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #fff; /* Borde blanco */
    background-color: #222; /* Fondo oscuro para el contenedor */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra suave */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em; /* Tamaño de fuente más grande */
    text-shadow: 2px 2px 0 #ff0000; /* Sombra de texto roja */
}

.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item {
    background-color: #444; /* Fondo gris oscuro */
    border: 3px solid #ffcc00; /* Borde amarillo */
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.game-item h2 {
    color: #ffcc00; /* Texto amarillo */
    text-shadow: 1px 1px 0 #000; /* Sombra negra */
}

.game-item a {
    text-decoration: none;
    color: #00ff00; /* Texto verde */
    font-weight: bold;
    font-size: 1.5em; /* Tamaño de fuente más grande */
}

.game-item a:hover {
    text-decoration: underline;
    color: #ff00ff; /* Cambia a color magenta al pasar el mouse */
}

footer {
    margin-top: 20px;
    font-size: 0.8em; /* Tamaño de fuente más pequeño */
    color: #aaa; /* Texto gris claro */
}